{% extends 'base.html' %}



{% block main %}
<form action="{{ url('mod_signup_login_process') }}" method="POST" id="mod_signup_login_form">
    <label for="mod_signup_login_email_field">{% trans "Your Email" %}</label>
    <input type="email" name="login_email" id="mod_signup_login_email_field"/>

    <label for="mod_signup_login_password_field">{% trans "Your Password" %}</label>
    <input type="password" name="login_password" id="mod_signup_login_password_field"/>

    <input type="submit" name="login_submit" id="mod_signup_login_submit" value="{% trans 'login!' %}"/>
</form>
<a href="{{ url('mod_signup_signup') }}">{% trans "Register" %}</a>
{% endblock %}
